# Series

In [1]:
# Importing the standard python libraries

import numpy as np
import pandas as pd

print("Successfully imported numpy and pandas")

Successfully imported numpy and pandas

## Creating a Series 

A series can be created using a list, numpy array or a dictionary

In [2]:
labels = ["a", "b", "c", "d"]
my_list = [10, 20, 30, 40]
arr = np.array([10, 20, 30, 40])
d = {"a": 10, "b": 20, "c":30, "d" : 40}

### 1) Using Lists

In [3]:
pd.Series(data = my_list)

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
pd.Series(data = my_list, index = labels)

a    10
b    20
c    30
d    40
dtype: int64

In [5]:
pd.Series(my_list, labels)

a    10
b    20
c    30
d    40
dtype: int64

### Using Arrays

In [6]:
pd.Series(arr)

0    10
1    20
2    30
3    40
dtype: int32

In [7]:
pd.Series(arr, labels)

a    10
b    20
c    30
d    40
dtype: int32

### Using Dictionary

In [8]:
pd.Series(d)

a    10
b    20
c    30
d    40
dtype: int64

### Data type of the data in a series

A pandas Series can hold a variety of object types:

In [9]:
pd.Series(data = labels)

0    a
1    b
2    c
3    d
dtype: object

### Using the index of the pandas Series

The key to using a series is understanding its index. Pandas makes use of these index numbers or names for the fast look ups of the information( similar to hash table or a dictionary).

To understand lets create 2 Series.

In [10]:
ser1 = pd.Series([1, 2, 3, 4], index = ["USA", "UK", "USSR", "Japan"])
ser1

USA      1
UK       2
USSR     3
Japan    4
dtype: int64

In [11]:
ser2 = pd.Series([1, 2, 5, 4], index = ["USA", "UK", "Italy", "Japan"])
ser2

USA      1
UK       2
Italy    5
Japan    4
dtype: int64

In [12]:
# Concatenation of the 2 series 
ser1 + ser2

Italy    NaN
Japan    8.0
UK       4.0
USA      2.0
USSR     NaN
dtype: float64

In [13]:
# Indexing from a Series 
ser1["USA"]

1