# Data Input and Output

In [1]:
# Importing the necessary libraries
import numpy as np
import pandas as pd
import os

# Print a message
print("Import Successful")

Import Successful

In [2]:
# Set the working directory
os.chdir("F:\\machine_learning_uvce\\uvce-mar9-ml-master\\Data-preprocessing\\Pandas")

# Verify the working directory
os.getcwd()

'F:\\machine_learning_uvce\\uvce-mar9-ml-master\\Data-preprocessing\\Pandas'

## CSV Input

In [3]:
# Reading a CSV file
df = pd.read_csv("cricketdata.csv")

# Print the first five rows of the dataframe
df.head()

      1    2        3               4               5      6  7  8    9   10
ball  1  0.1  England  ME Trescothick        GO Jones  B Lee  0  0  NaN  NaN
ball  1  0.2  England  ME Trescothick        GO Jones  B Lee  1  0  NaN  NaN
ball  1  0.3  England        GO Jones  ME Trescothick  B Lee  0  0  NaN  NaN
ball  1  0.4  England        GO Jones  ME Trescothick  B Lee  0  0  NaN  NaN
ball  1  0.5  England        GO Jones  ME Trescothick  B Lee  0  0  NaN  NaN

In [4]:
# To see the original csv data
df.apply.__doc__

"\n        Apply a function along an axis of the DataFrame.\n\n        Objects passed to the function are Series objects whose index is\n        either the DataFrame's index (``axis=0``) or the DataFrame's columns\n        (``axis=1``). By default (``result_type=None``), the final return type\n        is inferred from the return type of the applied function. Otherwise,\n        it depends on the `result_type` argument.\n\n        Parameters\n        ----------\n        func : function\n            Function to apply to each column or row.\n        axis : {0 or 'index', 1 or 'columns'}, default 0\n            Axis along which the function is applied:\n\n            * 0 or 'index': apply function to each column.\n            * 1 or 'columns': apply function to each row.\n        broadcast : bool, optional\n            Only relevant for aggregation functions:\n\n            * ``False`` or ``None`` : returns a Series whose length is the\n              length of the index or the number of columns (based on the\n              `axis` parameter)\n            * ``True`` : results will be broadcast to the original shape\n              of the frame, the original index and columns will be retained.\n\n            .. deprecated:: 0.23.0\n               This argument will be removed in a future version, replaced\n               by result_type='broadcast'.\n\n        raw : bool, default False\n            * ``False`` : passes each row or column as a Series to the\n              function.\n            * ``True`` : the passed function will receive ndarray objects\n              instead.\n              If you are just applying a NumPy reduction function this will\n              achieve much better performance.\n        reduce : bool or None, default None\n            Try to apply reduction procedures. If the DataFrame is empty,\n            `apply` will use `reduce` to determine whether the result\n            should be a Series or a DataFrame. If ``reduce=None`` (the\n            default), `apply`'s return value will be guessed by calling\n            `func` on an empty Series\n            (note: while guessing, exceptions raised by `func` will be\n            ignored).\n            If ``reduce=True`` a Series will always be returned, and if\n            ``reduce=False`` a DataFrame will always be returned.\n\n            .. deprecated:: 0.23.0\n               This argument will be removed in a future version, replaced\n               by ``result_type='reduce'``.\n\n        result_type : {'expand', 'reduce', 'broadcast', None}, default None\n            These only act when ``axis=1`` (columns):\n\n            * 'expand' : list-like results will be turned into columns.\n            * 'reduce' : returns a Series if possible rather than expanding\n              list-like results. This is the opposite of 'expand'.\n            * 'broadcast' : results will be broadcast to the original shape\n              of the DataFrame, the original index and columns will be\n              retained.\n\n            The default behaviour (None) depends on the return value of the\n            applied function: list-like results will be returned as a Series\n            of those. However if the apply function returns a Series these\n            are expanded to columns.\n\n            .. versionadded:: 0.23.0\n\n        args : tuple\n            Positional arguments to pass to `func` in addition to the\n            array/series.\n        **kwds\n            Additional keyword arguments to pass as keywords arguments to\n            `func`.\n\n        Returns\n        -------\n        Series or DataFrame\n            Result of applying ``func`` along the given axis of the\n            DataFrame.\n\n        See Also\n        --------\n        DataFrame.applymap: For elementwise operations.\n        DataFrame.aggregate: Only perform aggregating type operations.\n        DataFrame.transform: Only perform transforming type operations.\n\n        Notes\n        -----\n        In the current implementation apply calls `func` twice on the\n        first column/row to decide whether it can take a fast or slow\n        code path. This can lead to unexpected behavior if `func` has\n        side-effects, as they will take effect twice for the first\n        column/row.\n\n        Examples\n        --------\n\n        >>> df = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])\n        >>> df\n           A  B\n        0  4  9\n        1  4  9\n        2  4  9\n\n        Using a numpy universal function (in this case the same as\n        ``np.sqrt(df)``):\n\n        >>> df.apply(np.sqrt)\n             A    B\n        0  2.0  3.0\n        1  2.0  3.0\n        2  2.0  3.0\n\n        Using a reducing function on either axis\n\n        >>> df.apply(np.sum, axis=0)\n        A    12\n        B    27\n        dtype: int64\n\n        >>> df.apply(np.sum, axis=1)\n        0    13\n        1    13\n        2    13\n        dtype: int64\n\n        Returning a list-like will result in a Series\n\n        >>> df.apply(lambda x: [1, 2], axis=1)\n        0    [1, 2]\n        1    [1, 2]\n        2    [1, 2]\n        dtype: object\n\n        Passing result_type='expand' will expand list-like results\n        to columns of a Dataframe\n\n        >>> df.apply(lambda x: [1, 2], axis=1, result_type='expand')\n           0  1\n        0  1  2\n        1  1  2\n        2  1  2\n\n        Returning a Series inside the function is similar to passing\n        ``result_type='expand'``. The resulting column names\n        will be the Series index.\n\n        >>> df.apply(lambda x: pd.Series([1, 2], index=['foo', 'bar']), axis=1)\n           foo  bar\n        0    1    2\n        1    1    2\n        2    1    2\n\n        Passing ``result_type='broadcast'`` will ensure the same shape\n        result, whether list-like or scalar is returned by the function,\n        and broadcast it along the axis. The resulting column names will\n        be the originals.\n\n        >>> df.apply(lambda x: [1, 2], axis=1, result_type='broadcast')\n           A  B\n        0  1  2\n        1  1  2\n        2  1  2\n        "

In [5]:
# Create a deep copy of the data so that any changes made to the copy should not be reflected to the original data
cricket_data = df.copy(deep = True)

# Print the first five rows
cricket_data.head()

      1    2        3               4               5      6  7  8    9   10
ball  1  0.1  England  ME Trescothick        GO Jones  B Lee  0  0  NaN  NaN
ball  1  0.2  England  ME Trescothick        GO Jones  B Lee  1  0  NaN  NaN
ball  1  0.3  England        GO Jones  ME Trescothick  B Lee  0  0  NaN  NaN
ball  1  0.4  England        GO Jones  ME Trescothick  B Lee  0  0  NaN  NaN
ball  1  0.5  England        GO Jones  ME Trescothick  B Lee  0  0  NaN  NaN

In [6]:
# Calculating the total runs scored by PD Collingwood
sum(cricket_data[cricket_data["4"] == "PD Collingwood"]["7"])

46

In [7]:
# To see the  runs scored by all the batsmen using the groupby function
cricket_data.groupby("4")["7"].sum()

4
A Flintoff         6
A Symonds          0
AC Gilchrist      15
AJ Strauss        18
B Lee             15
DR Martyn          4
GD McGrath         5
GO Jones          19
JN Gillespie      24
KP Pietersen      34
ME Trescothick    41
MEK Hussey         1
MJ Clarke          0
ML Hayden          6
MP Vaughan         0
MS Kasprowicz      3
PD Collingwood    46
RT Ponting         0
VS Solanki         9
Name: 7, dtype: int64

In [8]:
# Calculating the total runs scored including extras
cricket_data["each_ball"] =  cricket_data['7'] +  cricket_data['8']
cricket_data.head()

,1,2,3,4,5,6,7,8,9,10,each_ball
ball,1,0.1,England,ME Trescothick,GO Jones,B Lee,0,0,NaN,NaN,0
ball,1,0.2,England,ME Trescothick,GO Jones,B Lee,1,0,NaN,NaN,1
ball,1,0.3,England,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,0
ball,1,0.4,England,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,0
ball,1,0.5,England,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,0

In [9]:
# Calculating the score with extras
sum(cricket_data["each_ball"])

258

In [10]:
# Calculating the score without extras
sum(cricket_data["7"])

246

In [11]:
# Calculating the extras in the match
sum(cricket_data["8"])

12

In [12]:
# Calculating the distribution of scores
cricket_data[cricket_data["4"] == "PD Collingwood"]["7"].value_counts()

1    12
0     6
4     5
6     2
2     1
Name: 7, dtype: int64

In [13]:
# Creating a new column over in the data 
cricket_data["over"] = cricket_data["2"].apply(int)

# Printing the first five rows
cricket_data.head()

,1,2,3,4,5,6,7,8,9,10,each_ball,over
ball,1,0.1,England,ME Trescothick,GO Jones,B Lee,0,0,NaN,NaN,0,0
ball,1,0.2,England,ME Trescothick,GO Jones,B Lee,1,0,NaN,NaN,1,0
ball,1,0.3,England,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,0,0
ball,1,0.4,England,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,0,0
ball,1,0.5,England,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,0,0

In [14]:
cricket_data.groupby("over")["each_ball"].sum()

over
0     12
1     12
2     19
3     10
4     18
5     10
6     16
7     20
8     19
9     22
10    11
11     8
12    10
13     3
14    13
15     8
16    17
17     8
18    10
19    12
Name: each_ball, dtype: int64

In [15]:
s = 12.5
str(s).split(".")[0]
int(s)

12