In [1]:
# Importing the necessary libraries

import os
import pandas as pd

print("Import Successful")

Import Successful

In [2]:
# Set the  working directory to where the dataset resides
os.chdir("F:\\machine_learning_uvce\\uvce-mar9-ml-master\\Data-preprocessing\\Pandas\\Pandas Exercises")
os.getcwd()

'F:\\machine_learning_uvce\\uvce-mar9-ml-master\\Data-preprocessing\\Pandas\\Pandas Exercises'

In [3]:
# Reading the csv data into a pandas dataframe
sal = pd.read_csv("Salaries.csv")

# Creating a copy of the dataframe
sal_df = sal.copy(deep = True)

# Displaying the first 5 rows
sal_df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [4]:
# info method to find the entries into the dataframe
sal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

    The salaries dataset contains details of 148654 entries

In [5]:
# Check the average base pay of the employees
sal_df["BasePay"].mean()

66325.44884050643

In [6]:
# Highest amount of overtimepay 
sal_df["OvertimePay"].max()

245131.88

In [7]:
# Extracting the job title for employee "JOSEPH DRISCOLL"
sal_df[sal_df["EmployeeName"] == 'JOSEPH DRISCOLL']["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [8]:
# Total Earnings of JOSEPH DRISCOLL(including benefits)
jd = sal_df[sal_df["EmployeeName"] == 'JOSEPH DRISCOLL']
jd
jd["BasePay"] + jd["OvertimePay"] + jd["OtherPay"]

24    270324.91
dtype: float64

In [9]:
sal_df[sal_df["EmployeeName"] == 'JOSEPH DRISCOLL']["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [10]:
# Check name of highest paid person (including benefits) and the payment
sal_df[sal_df["TotalPayBenefits"] == sal_df["TotalPayBenefits"].max()][["EmployeeName", "TotalPayBenefits"]]

     EmployeeName  TotalPayBenefits
0  NATHANIEL FORD         567595.43

In [11]:
# Check name of lowest paid person (including benefits) and the payment
sal_df[sal_df["TotalPayBenefits"] == sal_df["TotalPayBenefits"].min()][["EmployeeName", "TotalPayBenefits"]]

       EmployeeName  TotalPayBenefits
148653    Joe Lopez           -618.13

In [12]:
# Number of unique job titles
sal_df["JobTitle"].nunique()

2159

In [13]:
# Extracting the top 5 most common job
sal_df["JobTitle"].value_counts()[:5]

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64