In [1]:
# Creating a List using []
li = ["India", "Nepal", "Bhutan", "China"]

### List Slicing

In [2]:
# Reversing a list using slicing
li[::-1]

['China', 'Bhutan', 'Nepal', 'India']

In [3]:
li[::]

['India', 'Nepal', 'Bhutan', 'China']

### List Indexing

In [4]:
li[2]

'Bhutan'

In [5]:
li[0]

'India'

In [6]:
li[5]

IndexError: list index out of range

### Sub-level Indexing

In [7]:
li[1][2]

'p'

In [8]:
li[2][-1][-1][-1][-1]

'n'

In [9]:
li = [['India', 'SL', 'Buthan'], ['USA', 'Canada', 'Mexico']]

In [10]:
li[-1][-1][-1]

'o'

In [11]:
# Lists are mutable
li = ["India", "Nepal", "Bhutan", "China"]

In [12]:
# Assigning new value to a existing index
li[2] ="USA"

In [13]:
# Bhutan got replaced with USA
li

['India', 'Nepal', 'USA', 'China']

### List built in methods

### 1) .append() --> appends the object at the end of the list
### the length of the list is increased by 1 using the append method

In [14]:
li = ["India", "Nepal", "Bhutan", "China"]

# Pring the list along with the list length
li, len(li)

(['India', 'Nepal', 'Bhutan', 'China'], 4)

In [15]:
# using append() method to add an element to the list
li.append("Bhutan")

# Pring the list along with the list length
li, len(li)

(['India', 'Nepal', 'Bhutan', 'China', 'Bhutan'], 5)

In [16]:
# Using append() method to add a list to a list
li.append(["UK", "Cananda"])

# Pring the list along with the list length
li, len(li)

(['India', 'Nepal', 'Bhutan', 'China', 'Bhutan', ['UK', 'Cananda']], 6)

### 2) .extend() --> Extends the list by adding the elements from the iterable

In [17]:
# Initialize a list
li = ["India", "Nepal", "Bhutan", "China"]

# Pring the list along with the list length
li, len(li)

(['India', 'Nepal', 'Bhutan', 'China'], 4)

In [18]:
# Initialize a list
li.extend(["UK", "Cananda"])

# Pring the list along with the list length
li, len(li)

(['India', 'Nepal', 'Bhutan', 'China', 'UK', 'Cananda'], 6)

### 3) .remove --> removes the first matching object in the list

In [19]:
# Initialize a list
li = ["India", "Nepal", "Bhutan", "China"]

# Pring the list along with the list length
li, len(li)

(['India', 'Nepal', 'Bhutan', 'China'], 4)

In [20]:
# Using remove method to delete the first matching object passed as parameter
li.remove("China")

# Pring the list along with the list length
li, len(li)

(['India', 'Nepal', 'Bhutan'], 3)

### 4).del --> deletes the element at the specified index

In [21]:
# Initialize a list
li = ["India", "Nepal", "Bhutan", "China"]

# Pring the list along with the list length
li, len(li)

(['India', 'Nepal', 'Bhutan', 'China'], 4)

In [22]:
# Using del() method to delete the element at index number 2
del li[2]

# Pring the list along with the list length
li, len(li)

(['India', 'Nepal', 'China'], 3)

### 5) .pop --> displays the object being removed at the specified index number
### if index number not specified then pop the last element of the list

In [23]:
# Initialize a list
li = ["India", "Nepal", "Bhutan", "China"]

# Pop the element at index number 2
li.pop(2)

'Bhutan'

In [24]:
# Print li
li

['India', 'Nepal', 'China']

In [25]:
# Poping the element without specifying the index pops the last element of the list
li.pop()

'China'

In [26]:
# Print the list
li

['India', 'Nepal']